$font-stack: Halvetica, sans-serif
$background : #f4f4f4
@import "reset.css"

body
  text-align: center
  margin: 0
  padding: 0
  width: 100%
  height: 810px
  font-family: "Comfortaa",sans-serif
  font-size: 14px
  background-color: #f3f5f7

  .sign-in
    text-align: center
    align-content: center

  img
    background: white
    width: 100px
    padding: 15px 30px

  .mainHeading
    text-transform: lowercase
    font-size: 30px

  .name
    color: darkgray

  h1
    font-weight: 100

  header
    height: 60px
    text-transform: capitalize
    font-weight: 100

  div.areaInfo
    margin-left: 10px
    text-transform: capitalize

  div.areaInfo p.region
    font-weight: bold

  p.status
    position: relative
    z-index: 2
    top: 50px
    right: 30px
    padding: 5px
    width: 70px
    border-radius: 20px
    text-align: center
    text-transform: uppercase

  p.status.draft
    background-color: #91a5af

  p.status.listed
    background-color: #68bc69

  p.status.rented
    background-color: #bcc8cf

  main
    margin-left: 40px
    font-family: "Open Sans",Arial,sans-serif
    float: left
    text-align: left
    width: 700px

  aside
    background-color: white
    float: left
    width: 250px
    height: 100%
    text-align: center
    text-transform: uppercase

  aside ul
    color: darkgray
    text-align: left
    margin: 0
    padding: 10px
    line-height: 40px
    font-size: 14px

  aside li:hover
    color: black
    cursor: pointer

  img.profilePicture
    width: 150px
    border-radius: 50%

  ul
    letter-spacing: 2px
    list-style: none
    text-align: left

  h1 em
    color: gray
    font-style: normal

  article
    display: inline-block
    margin: 10px
    box-shadow: 8px 6px 17px -1px rgba(0,0,0,0.26)

  img.apartment
    width: 200px

  .appInfo,.unit
    margin-left: 10px
    text-transform: capitalize


  article
    z-index: 1
    background-color: white

  img.apartment
    width: 210px

  .btnAdd
    float: left
    margin-top: 25px
    padding: 5px 15px
    background-color: #ff7739
    border-radius: 15px
    text-transform: uppercase
    font-family: Comfortaa,sans-serif
    font-size: 14px
    border: 2px solid #ff7739

  .btnAdd:hover
    cursor: pointer
    background: none
    border: 2px solid #ff7739

